/* We have now entered into CSS teritory THIS is no longer HTML */
/* This is a comment - looks like a multi-line javascript comment */
/* 0 - (2^8 - 1) = 0-255  8 bits per colour */
/* (RED, GREEN, BLUE) */
body {
    background-color: rgb(39, 39, 23); /* background-color changes the page colour */
    color: white;
    margin: 20px;
}
h1 { 
    color: rgb(125, 125, 255); /* 'color' changes the TEXT colour */
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
p{ /* selector - what we apply the CSS to */
    color:rgb(255, 80, 80);
}
ol, li, a {
    /* text-align: center;
    list-style-position: inside;*/
    color:rgb(255, 255, 255);
}

/* # means 'id' used for exaclty ONE tag*/
#h1AboutYou{
    color: rgb(255, 255, 255); 
    text-align: center;
}
#amabout {
    color: rgb(191, 233, 107); 
}

/* . means 'class' used of a group of tags */
.largeListItem {
    font-size: 30px;
}

#lastLi {
    font-size: 50px;
}